<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="tertiary">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-back-button>
        </ion-buttons>
        <ion-title>Jogar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let col of cols">
            <ion-col *ngFor="let item of col">
                <ion-button class="item" color="tertiary">
                    <ion-img [src]="item.image"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-text>Ícones feitos por <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> na <a
            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></ion-text>
</ion-content>
<ion-footer>
    <ion-button expand="block" color="tertiary">
        <ion-text>Tocar Som</ion-text>
    </ion-button>
</ion-footer>
