ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-img {
    width: 80%;
    height: auto;
}

ion-text {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.item {
    height: 100%;
}

.win {
    --ion-background-color: #f00;
}

.data-table {
    border-radius: 10px;
    --ion-background-color: #e4e4e4;
    width: calc(100% - 20px);
    margin: auto;
}

.data-table * {
    background-color: inherit;
}
