<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Descubra o som
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="wrapper">
        <ion-item lines="none" color="tertiary">
            <ion-input placeholder="Nickname" type="text"></ion-input>
        </ion-item>
        <ion-text></ion-text>
    </div>
</ion-content>
<ion-footer>
    <ion-button expand="full" color="tertiary">Entrar</ion-button>
</ion-footer>
