<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Descubra o som
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bounceIn">
    <div class="wrapper">
        <ion-item lines="none" color="tertiary">
            <ion-input [(ngModel)]="username" placeholder="Nickname" type="text"></ion-input>
        </ion-item>
        <ion-text></ion-text>
    </div>
</ion-content>
<ion-footer>
    <ion-button class="bounceIn" expand="full" color="tertiary" (click)="login()">Entrar</ion-button>
</ion-footer>
